# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules

# Build
dist
dist-ssr
*.local

# Editor
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea

# Temp scrape
_bravo.html
.just-scrape*
